<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{ header || "Welcome"}}</h1>
        <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">
          Cancel
        </button>
        <button v-else @click="doEdit(true)" class="btn btn-primary">
          Add Item
        </button>
      </div>
      <form v-if="editing" class="add-item-form" v-on:submit.prevent="addItem">
        <input type="text" v-on:keyup.enter="addItem" v-model="newItem" placeholder="Add an item" />
        <p class="counter">{{ charactercount }}/200</p>
        <button v-bind:disabled="newItem.length <= 5" class="btn btn-primary">Add</button>
        
      </form>
      <ul>
          <li v-for="item in items" :key="item.id" v-bind:class="{strikeout : item.purchased}" v-on:click="togglePurchased(item)">{{item.label}}</li>
        </ul>
      <p v-if="!items.length">Yu've bought all your items</p>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            header: "Shopping List!",
            editing: false,
            newItem: "",
            items: [
              { id: 1, label: "Milk", purchased: false },
              { id: 2, label: "Eggs", purchased: false },
              { id: 3, label: "Bread", purchased: true },
            ],
          };
        },
        computed: {
          charactercount() {
            return this.newItem.length;
          },
        },
        methods: {
          addItem() {
            if (!this.newItem) return;
            this.items.push({ id: this.items.length + 1, label: this.newItem });
            this.newItem = "";
          },
          doEdit(editing) {
            this.editing = editing;
            this.newItem = "";
          },
          togglePurchased(item) {
            item.purchased = !item.purchased;
          },
        },
      }).mount("#shopping-list");
    </script>
  </body>
</html>
